:root{
    --dark:rgb(1, 1, 1);
    --gris:rgb(112, 117, 112);
    --dark-claro: rgb(48, 51, 48);
    --green-osc:rgb(35, 114, 35);
    --gris-claro:rgb(195, 195, 195);
    --green-fluor:rgb(2, 227, 0);



}
