
/*Paleta de colores*/
:root{
    --dark:rgb(1, 1, 1);
    --dark-tenue:rgb(8, 8, 8);
    --gris:rgb(112, 117, 112);
    --dark-claro: rgb(48, 51, 48);
    --green-osc:rgb(35, 114, 35);
    --gris-claro:rgb(195, 195, 195);
    --green-fluor:rgb(2, 227, 0);
    --green-precios: rgb(14, 190, 23);
    --naranja-des: rgba(255, 179, 38, 0.849);

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Sofia Sans';
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(/imagenes/Logo.png);
    background-size: cover;
    background-repeat: no-repeat;
    /*indefinido por el momento*/
    
}
.nav-header{
    width: 95rem;
    height: 7rem;
    display: flex;
    margin-left: 1rem;
    border-radius: 1rem;
    background-color: var(--dark);
}
.nav-log{
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: space-evenly;
    /*border-right: 2px solid blue;*/
}
.nav-logo{
    margin-top: 1rem;
    padding-top: 2rem;/*como no se centraba como quiera lo centre a mi manera */
    text-align: center;
    text-decoration: none;
    color: red;/*cabiar color y estilo de letra*/
}

.nav-menu{
    width: 80%;
    height: 100%;
    transition: transform .5s;
}
.nav-menu-list{
    height: 100%;
    width: 100%;
    transition: transform .5s;
    display: flex;
    justify-content: end;
}
.nav-menu-item{
    list-style: none;
    position: relative;
    margin-top: 3rem;
    margin-right: 2rem;
    width: 8rem;
    --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
    --transform: rotate(-90deg);
    text-align: center;
}
.nav-menu-item:hover{
    --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    --transform: rotate(90deg);
}
.nav-menu-categories-link{
    
    text-decoration: none;
    color: var(--green-fluor);
    margin-left: 0.5rem;
    padding: 0.7rem;
    
}
.nav-menu-categories-link:hover{
    background-color: var(--dark-claro);
    border-radius: 0.2rem;    
}
.nav-menu-item-link{
    margin-left: 0.5rem;
    text-decoration: none;
    color: var(--green-fluor);
    padding: 0.7rem;
}
.nav-menu-item-link:hover{
    background-color: var(--dark-claro);
    border-radius: 0.2rem;
}
.menu_arrow{
    margin-bottom: -0.3rem;
    height: 1.2rem;
    transform: var(--transform);
    transition: transform 0.5s;/*para cambiarle el color a la flechita ir al archivo*/
}
/*est. de categorias*/
.nav-menu-inside{
    border-radius: 0.5rem;
    position: relative;
    list-style: none;
    background-color: var(--green-osc);
    clip-path: var(--clip);
    transition: transform 0.5s;
    z-index: 3;
}
/*est. de categorias*/
.nav-menu_inside-item{
    display: flex; 
    
}
/*est. de categorias*/
.menu_link_menu_link-inside{
    color: var(--dark);
    border-radius: 0.5rem;
    width:100%;
    padding: 1rem 2.5rem 1rem 1.5rem;
    text-decoration: none;
}
/*est. de categorias*/
.menu_link_menu_link-inside:hover{
    display: flex;
    position: relative;
    color: yellow;
    background-color: rgb(21, 23, 38);  
    z-index: 3;
}
/*des aca subi yo*/
.nav-car{
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: center;
    margin-top: 2.7rem;
}

.nav-cart{
    /*no agregue nada aca es la caja del carrito*/
}
.menu__hamburguer{
    height: 100%;
    width: 0%;
    background-color: aqua;
    display: flex;
    justify-content: end;
    padding: 0 15px;
    cursor: pointer;
    display: none;/*esto se modifica con el query para pantallas menores*/
}
.menu__img{
    background-color: aqua;
    height: 36px;
    width: 36px;
}
.nav-icon-chevron-up{
    
}
/*Imagen de propaganda de video juegos*/
.contenido-propaganda{
    display: flex;
    height: 20rem;
    width: 95rem;
    margin: 2rem 1rem 2rem 1rem;
    border-radius: 0.5rem;
    opacity: 0.9;
    transition: 0.2s;    
    position: relative;
}
.contenido-propaganda:hover{
    box-shadow: 0rem 0rem 0.1rem 0.1rem var(--green-fluor);
    transition: 0.4s;
}
.contenido-propaganda-img{
    height: 100%;
    width: 60%;
    background-image: url(/Imagen-de-juegos-y-nombre/Juegos-ofertas/Descuento/descuento-troll.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    margin-right: 0.5rem;
}
.contenido-propaganda-texto{
    padding: 3rem 7rem 0rem 3rem;
    background-color: brown;
    width: 40%;
    height: 100%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.contenido-propaganda-texto-oferta{
    text-align: start;/*parte del 50% de decuento */
    padding-left: 5rem;
    height: 90%;
}
.contenido-propaganda-texto-oferta-1{
    margin-bottom: 1rem;
    font-size: 1rem;
}
.contenido-propaganda-texto-oferta-2{
    margin-bottom: 1rem;
    font-size: 1.5rem;
}
.contenido-propaganda-texto-oferta-3{
    margin-bottom: 3rem;
    font-size: 1.5rem;
    color: aliceblue;/*color del 50% de descuento*/
    font-weight: bold;

}
.contenido-propaganda-texto-oferta-link{
    font-family: 'Sofia Sans';
    font-weight: 700;
    color: var(--green-fluor);
    letter-spacing: 0.05rem;
    padding: 1rem 2rem 1rem 2rem;
    text-decoration: none;
    background-color: var(--dark-claro);
    border-radius: 0.2rem;
    transition: 0.2s;
}
.contenido-propaganda-texto-oferta-link:hover{
    color: var(--dark);
    padding: 1.2rem 2.2rem 1.2rem 2.2rem;
    box-shadow: inset 0rem 3.6rem var(--green-osc),
    0rem 0.3rem 0.3rem 0.3rem var(--green-fluor);
    transition: 0.4s;
}

/*Seccion del juegos en ofertas*/
.base-ar{
    margin-left: 1rem;
    background-color: brown;
    opacity: 0.9;
    height: 35rem;
    width: 95rem;
    border-radius: 0.5rem;/*despues sacarlo y revisar que quede bien*/
}

.base-ar:hover{
    box-shadow: 0rem 0rem 0.1rem 0.1rem var(--green-fluor);
    transition: 0.4s;
}

.base-tit{
    background-color: blue;
    padding: 0.5rem 1rem 0.2rem 1rem;
    display: flex;
    justify-content: space-between;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem; 
}
.base-tit-st{
    font-size: 2rem;
    
}
.base-ar-enlace{
    background-color:red;
    text-decoration: none;/*si da tiempo animar esto con un sonido no me gusta solo asi*/
    font-size: 1.5rem;
}
.ar-base{
    display: flex;
    padding: 1rem;
    justify-content: space-evenly;
    
}
.articulo{
    background-color: aqua;/*sacar tambien*/
    height: 30rem;
    width: 20rem;
    border-radius: 0.7rem;/*sacar ya que no va a tener color el fondo*/
    overflow: hidden;
}
.articulo-img{
    background-color: blue;
    height: 60%;
    width: 100%;
    border-top-right-radius: 0.7rem;
    border-top-left-radius: 0.7rem;
    transition: 0.3s;
}
.articulo-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.articulo-img:hover{
    height: 100%;
    transition: 0.4s;
    border-bottom-left-radius: 0.7rem;
    border-bottom-right-radius: 0.7rem;
    
}
.articulo-contenido{
    height: 40%;
    width: 100%;
    
}
.articulo-contenido:hover{
   
}
.articulo-contenido-titulo{
    text-decoration: none;
    padding-top: 0.5rem;
}
.articulo-contenido-titulo-h1{
    display: flex;
    justify-content: center;
}
.articulo-contenido-pecio{
    display: flex;
    padding: 1rem;
    justify-content: space-evenly;
    color: var(--green-precios);
    font-weight: 700 ;
}
.articulo-contenido-pecio del{
    color: black;
}
.articulo-contenido-cuotas{
    text-align: center;
    font-size: 1.2rem;
    font-style: oblique;
    color: var(--naranja-des);

}
.articulo-cont-btn{
    display: flex;
    
    width: 100%;
    height: 4rem;
    justify-content: center;
    align-items: center;
    
}
.articulo-contenido-titulo-link{
    text-decoration: none;
    padding: 1rem 3rem;
    background-color: var(--green-osc); /*a definir*/
    border-radius: 0.7rem;
}






/*carrucel de 8 juegos*/
.carrucel-cont{
    height: 26rem;
    width: 95rem;
    margin: 2rem 3rem 3rem 1rem;
    border-radius: 0.5rem;
    margin: 4rem;
    background-color: rgb(169, 121, 121);
    overflow: hidden;
}
.carrucel-conteiner-jue{
    width: 200%;
    height: 20rem;
    /*display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    padding: 2rem 2rem 2rem 0rem;
    margin-top: 1rem;*/
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    padding-top: 2rem;
    margin-left: 5.8rem;
    transition: all 0.5s ease;
    transform: translateX(0%);
    /*agregar dos imagenes en los costados para evitar usar grid*/
}
.carrucel-conteiner-juego-cont{
    width: calc(100% / 2 );
    min-width: 10vh;
    width: 12rem;
    height: 17rem;
    border-radius: 0.5rem;
    /*overflow: hidden;*/
    transition: 0.2s;
}
.carrucel-conteiner-juego-cont:hover{
    box-shadow: 0rem 0rem 0.1rem 0.1rem hsl(0, 13%, 68%);
    
}
.carrucel-conteiner-juego-cont-img{
    background-color: brown;
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;  
}
.carrucel-conteiner-cont-img{}

.carrucel-conteiner-cont-img-scl{}

.carrucel-conteiner-juego-cont-text{
    display: flex;
    margin: 0;
    padding: 0;
    height: 40%;
    width: 100%;
    overflow: hidden;
}
.carrucel-conteiner-juego-cont-text:hover{
    transition: 0.2s;
    height: 50%;

}
.carrucel-conteiner-juego-text-cont-scl{
    height: 100%;
    width: 100%;
    background-color: aquamarine;
}
.carrucel-conteiner-juego-text-cont-scl h1{
    margin-top: 0.2rem;
    margin-bottom: 0;
    height: 3.5rem;
    background-color: beige;
    color: rebeccapurple;/*cambiar color al de las letras del panel*/
    text-align: start;
    overflow: hidden;
}
.carrucel-precio-juego-cont{
    background-color: burlywood;
    margin-top: 0;
    margin-bottom: 0;
    height: 3rem;
}
.carrucel-conteiner-enlace-scl{
    background-color: red;
    height: 3rem;
    /*opacity: 0;*/
    transition: 0.4s;
}
.carrucel-conteiner-enlace:hover{
    opacity: 1;
}

.carrucel-enlace-juego{
}
.puntos1{
    width: 100%;
    margin: 1em 0 0;
    padding: 0.5em;
    background-color: blue;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.punto1{
    width: 4rem;
    height: 1rem;
    border-radius: 0.5rem;
    background-color: rgb(21, 249, 0);
    margin: 1em 3em 0;
    list-style: none;
    cursor: pointer;
}
.punto1.activo{
    background-color: white;
}
.carrucel-btn1{
    background-color: aliceblue;
    display: flex;
    flex-flow: row nowrap;
}

.boton1-avanzar{
    position: absolute;
    padding-top: 8rem;
    top: 73.4rem;
    left: 100.5rem;
    width: 5rem;
    height: 15rem;
    border-top-right-radius: 0.5rem;
    cursor: pointer;
    opacity: 0;
    
}
.boton1-avanzar:hover{
    transition: 0.2s;
    opacity: 0.6;
}
.boton1-retroceder{
    
    position: absolute;
    top: 73.4rem;
    padding-top: 8rem;
    width: 5rem;
    height: 15rem;
    border-top-left-radius: 0.5rem;
    cursor: pointer;
    opacity: 0;
    
}
.boton1-retroceder:hover{
    transition: 0.2s;
    opacity: 0.6;
}
/*Boton para molestar*/

.buttom-troll{
    /*display: block;
    text-align: center;
    border-bottom: 0.1rem solid;
    border-color: var(--dark);
    font-size: 4rem;
    background-color: aqua;*/
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.read-more-btn {
    background-color: #4caf50;
    border: none;
    border-radius: 40px;
    color: white;
    padding: 15px 32px;
    font-size: 1.2em;
    box-shadow: 0px 0px 10px 0px #4caf50;
    cursor: pointer;
  }
  .read-more-btn:hover {
    box-shadow: none;
    background-color: black;
    color: #fff;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 3.05s;
  }
  .hideText {
    display: none;
  }
  .showText {
    display: block;
  }

/*Segundo carrucel*/
.carrucel-categorias{
    height: 26rem;
    width: 95rem;
    margin: 2rem 3rem 3rem 1rem;
    border-radius: 0.5rem;
    margin: 4rem;
    background-color: rgb(169, 121, 121);
    overflow: hidden;
}
.carrucel-conteiner-2{
    width: 200%;
    height: 20rem;
    /*display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    padding: 2rem 2rem 2rem 0rem;
    margin-top: 1rem;*/
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    padding-top: 2rem;
    margin-left: 6.7rem;
    transition: all 0.5s ease;
    transform: translateX(0%);
    /*agregar dos imagenes en los costados para evitar usar grid*/
}
.carrucel-conteiner-categorias{
    width: calc(100% / 2 );
    min-width: 10vh;
    width: 12rem;
    height: 17rem;
    border-radius: 0.5rem;
    /*overflow: hidden;*/
    transition: 0.2s;
}
.carrucel-conteiner-categorias:hover{
    box-shadow: 0rem 0rem 0.1rem 0.1rem hsl(0, 13%, 68%);
    
}
.carrucel-conteiner-categorias-img{
    background-color: brown;
    width: 100%;
    height: 100%;
    
    border-radius: 0.5rem;
    
    
}
.carrucel-conteiner-categorias-img a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}

.carrucel-categorias-img-scl{
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
    
    
    
}
.carrucel-tit-categorias{
    position: fixed;
    padding-bottom: 1rem;
    font-size: 2rem;
    font-weight: 900;
    color: aqua;
    
    

}


.puntos2{
    width: 100%;
    margin: 1em 0 0;
    padding: 0.5em;
    background-color: blue;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.punto2{
    width: 4rem;
    height: 1rem;
    border-radius: 0.5rem;
    background-color: rgb(21, 249, 0);
    margin: 1em 3em 0;
    list-style: none;
    cursor: pointer;
}
.punto2.activo{
    background-color: white;
}
.carrucel-btn-categorias{
    background-color: aliceblue;
    display: flex;
    flex-flow: row nowrap;
}

.boton-avanzar-categorias{
    position: absolute;
    padding-top: 8rem;
    top: 114.2rem;
    
    left: 100.6rem;
    width: 5rem;
    height: 15rem;
    border-top-right-radius: 0.5rem;
    cursor: pointer;
    opacity: 0;
    
}
.boton-avanzar-categorias:hover{
    transition: 0.2s;
    opacity: 0.6;
}
.boton-retroceder-categorias{
    position: absolute;
    top: 114.2rem;
    padding-top: 8rem;
    width: 5rem;
    height: 15rem;
    border-top-left-radius: 0.5rem;
    cursor: pointer;
    opacity: 0;
    
}
.boton-retroceder-categorias:hover{
    transition: 0.2s;
    opacity: 0.6;
}

/*Catalogo completo de los juegos y buscador */
.cont-buscador{
    width: 90%;
    height: auto;
    background-color: red;
    padding: 4rem 2rem 4rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    
}
.buscador{
    width: 70%;
    height: 4rem;
    font-size: 2rem;
    border-radius: 0.5rem;
    border: 0.2rem solid blue;
}
/*Catalogo*/
.catalogo{
    background-color: yellow; 
    width: 110rem;
    height: 102rem;
    margin-top: 4rem;
    margin-left: 4rem;    
    
}
.catalogo-sub{
    background-color: yellow; 
    width: 110rem;
    height: 50rem;
    margin-top: 4rem;
    margin-left: 4rem;
    margin-bottom: 2rem;
    
}

.catalogo_extecion{
    
    width: 110rem;
    height: 262rem;
    margin-top: 4rem;
    margin-left: 4rem;    
}
.catalogo-conteiner{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-content: start;
    flex-wrap: wrap;
    overflow: hidden;
    border-radius: 0.5rem;
}
/*parte del conteiner del juego*/
.carrucel-conteiner-juego{
    width: 12rem;
    height: 17rem;
    border-radius: 0.5rem;
    transition: 0.2s;
    margin: 1rem;
    margin-left: 8rem;
    margin-top: 2rem;
    
}
.carrucel-conteiner-juego:hover{
    box-shadow: 0rem 0rem 0.1rem 0.1rem hsl(0, 0%, 0%);
    
}
.carrucel-conteiner-juego-img{
    background-color: brown;
    display: flex;
    width: 100%;
    height: 60%;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    
}
.carrucel-conteiner-img-scl{
    height: 100%;
    width: 100%;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    object-fit: fill;
}
.carrucel-conteiner-juego-text{
    display: flex;
    margin: 0;
    padding: 0;
    height: 40%;
    width: 100%;
    overflow: hidden;
}
.carrucel-conteiner-juego-text:hover{
    transition: 0.2s;
    height: 50%;

}
.carrucel-conteiner-juego-text-cont{
    height: 100%;
    width: 100%;
    background-color: aquamarine;
}
.carrucel-conteiner-juego-text-cont h1{
    margin-top: 0.2rem;
    margin-bottom: 0;
    height: 3.5rem;
    background-color: beige;
    color: rebeccapurple;/*cambiar color al de las letras del panel*/
    text-align: start;
    overflow: hidden;
}
.carrucel-precio-juego{
    background-color: burlywood;
    margin-top: 0;
    margin-bottom: 0;
    height: 3rem;
}
.carrucel-conteiner-enlace{
    background-color: red;
    height: 3rem;
    /*opacity: 0;*/
    transition: 0.4s;
}
.carrucel-conteiner-enlace:hover{
    opacity: 1;
}

.carrucel-enlace-juego{
}
.filtro{
    display: none;
}

/*footer (Pie de pagina)*/
.foote-re{
    width: 95rem;
    background-color: red;
    padding: 2rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    opacity: 0.9;
    
}

.foote-reds{
    background-color: aqua;
    padding: 1rem;
    text-align: center;
    
}

.foote-help{
    padding: 1rem;
    background-color: black;
    margin-top: 1rem;
    text-align: center;
    padding-bottom: 0;
}
.foote-enlace{
    color: var(--green-fluor);
    text-align: center;
    text-decoration: none;
    padding-left: 2rem;
    transition-duration: 0.2s;
    
}
.foote-enlace:hover{
    font-size: 2rem;
    padding: 0.5rem;
    color: var(--green-osc);
    transition-duration: 0.4s;
    transition-delay: 0.2s;
}

/*
PARTE DEL ESTILO DE JUEGO INDIVIDUAL
*/
/*Encabezado de juegos*/

.Head{
    display: flex;
    
    height: 8rem;
    width: 95rem;
    margin: 1rem 1rem 1rem 1rem;
}
.Head-cont{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    
}
.Head-cont-retroceder{   
    height: 100%;
    grid-template-columns: 1/2;
    
}
.Head-cont-retroceder-scl{
    display: flex;
    background-color: aqua;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-bottom-left-radius: 0.5rem;
    border-top-left-radius: 0.5rem;

}
.Head-cont-Todas-cat{
    height: 100%;
    background-color: red;
    grid-template-columns: 2/3;
}
.Head-cont-Todas-scl{
    display: flex;
    background-color: burlywood;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.Head-cont-inicio{
    height: 100%;
    grid-template-columns: 3/4;
}
.Head-cont-inicio-scl{
    display: flex;
    background-color: green;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-left: 1px solid red;
    text-decoration: none;
    border-bottom-right-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}
.art-juego{
    background-color: aqua;
    height: 160rem;
    width: 75%;
    margin-bottom: 1rem;  
     
}
.art-juego-cont{
    height: 100%;
    width: 100%;
    background-color: blueviolet;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(13, 1fr);
}
.art-juego-cont-img{
    grid-column: 1/5;
    grid-row: 1/5;
    height: 100%;
    width: 100%;

}
.art-juego-cont-img-escala-1{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 0.5rem 0.5rem 0.0rem 0.0rem;
    

}
.art-juego-cont-tit{
    grid-column: 1/5;
    grid-row: 5/6;
    border-top: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    font-size: 3rem;
}

.art-juego-cont-descrip{
    grid-column: 1/5;
    grid-row: 6/8;
    height: 100%;
    width: 100%;
    background-color: bisque;
    text-align: justify;
    border-bottom: 0.2rem solid red;
}
.art-juego-cont-descrip-cont-text{
    font-size: 2rem;
    padding: 4rem 4rem 4rem 4rem;
}
.art-juego-cont-enlaces{
    grid-column: 1/2;
    grid-row: 8/9;
    background-color: beige;
}
.art-juego-tit-categorias{
    width: 100%;
    height: 20%;
    display: flex;
    background-color: aquamarine;
    justify-content: center;
    align-items: center;
}
.art-juego-tit-categorias h3{
    font-size: 2rem;
}
.art-juego-cont-enlaces-cont{
    height: 80%;
    width: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,1fr);
    background-color: cadetblue;
    gap: 10px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
}
.art-juego-cont-enlaces-cont-link{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
    font-size: 1.2rem;
    border:  0.2rem solid red;
    border-radius: 0.7rem;
}
.art-juego-cont-enlaces-cont-link:hover{
    color: brown;
    background-color: aqua;
    color: burlywood;
    border-color: black;
}

.art-juego-cont-estrellas{
    grid-column: 2/3;
    grid-row: 8/9;
}
.art-juego-cont-estrellas-img{
    width: 100%;
    height: 50%;
    background-color: red;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.art-juegos-cont-estrellas-img-1{
    border: 0.2rem solid blue;
    border-radius: 0.5rem;
    background-color: aqua;
    padding: 1rem;
    box-shadow: 4px 5px 3px 5px rgba(0, 0, 0, .5),
    inset 15px 15px 3px rgba(255, 255, 255, .1),
    -4px -4px 15px rgba(255, 255, 255, .1),
    inset -2px -2px 12px rgba(0, 0, 0, .75);
}
.art-juego-cont-estrellas-escala{
    display: flex;
    justify-content: center;
    background-color: aqua;
    padding-top: .5rem;
    font-size: 1.3rem;
    height: 20%;
    width: 100%;
}
.estr-black img{
    height: 1.8rem;
    width: 1.8rem;
    margin-left: 1rem;
}


.art-juego-cont-btn-comprar{
    grid-column: 3/5;
    grid-row: 8/9;
    background-color: azure;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    
}
.art-juego-cont-btn-comprar img{
    height: 100%;
    width: 50%;
    object-fit: cover;
}
.art-juego-cont-btn-comprar a{
    text-decoration: none;
    text-align: center;
    padding: 2rem 4rem 2rem 4rem;
    margin-left: 5rem;
    background-color: aqua;
    border-radius: 0.5rem;
    transition: 0.4 ease-in-out;
}
.art-juego-cont-btn-comprar a:active{
    background-color: blueviolet;
}
.art-juego-cont-btn-comprar div{
    display: flex;
    flex-direction: column;

}
.art-juego-cont-btn-comprar div h4{
    margin-left: 5rem;
}


.art-juego-carrucel-cont-celular{
    grid-column: 1/5;
    grid-row: 9/11;
    aspect-ratio: 10/16;
    width: 100%;
    position: relative;
    display: flex;
    overflow: scroll;
    scroll-snap-type: x mandatory;

}

.art-juego-carrucel-cont-img-celular{
    width: 100%;
    left: 0;
    position: sticky;
    object-fit: cover;
    border-radius: 5px;
    scroll-snap-align: center; }

.art-juego-carrucel{
    grid-column: 1/5;
    grid-row: 9/11;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 0.2rem solid red;
}
.art-juego-carrucel-cont{
    height: 21rem;
    width: 52rem;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    
}

.art-juego-carrucel-cont-img{
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.9;
    transition: .4s ease;
}
.art-juego-carrucel-cont-img:hover{
    cursor: crosshair;
    width: 80%;
    opacity: 1;
    filter: contrast(100%);
}
.art-juego-cont-req-min{
    grid-column: 1/3;
    grid-row: 11/14;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    
}
.art-juego-cont-req-min-tit{
    text-align: center;
    font-size: 3rem;
}
.art-juego-cont-req-min-rm{
    list-style: none;
    padding-bottom: 2rem;
    display: flex;
    padding-left: 1rem;
    font-size: 1.5rem;
}
.art-juego-cont-req-min-rm div{
    padding-left: 1rem;
    transition: .2s;
}
.art-juego-cont-req-min-rm div:hover{
    color: aquamarine;
    
}
.Doon{
    height: 25rem;
    width: 25rem;
}
.art-juego-cont-req-max{
    grid-column: 3/5;
    grid-row: 11/14;
    background-color: olive;
    display: flex;
    flex-direction: column;
    
}
.art-juego-cont-req-max-tit{
    text-align: center;
    font-size: 3rem;
}
.art-juego-cont-req-max-rm{
    list-style: none;
    padding-bottom: 2rem;
    display: flex;
    padding-left: 1rem;
    font-size: 1.5rem;
}
.art-juego-cont-req-max-rm div{
    padding-left: 1rem;
    transition: .2s;
}
.art-juego-cont-req-max-rm div:hover{
    color: aquamarine;
    
}
.art-juego-cont-req-borde{
    background-color: red;
    margin: 2rem 2rem 2rem 2rem;
    border: 0.2rem solid blue;
}

/*@media (max-width: 1328px){
    body{
        background-color: red;
    }
    /*body{
        border: 0px;
        padding: 0px;
        margin: 0px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .nav-header{
        width: 115rem;
    }
    .contenido-propaganda{
        width: 115rem;
    }
    .base-ar{
        width: 115rem;
    }
    .carrucel-cont{
        width: 115rem;
        }

    .carrucel-categorias{
        width: 115rem;
    }
    .foote-re{
        width: 110rem;
    }
*/

/*@media (max-width: 1024px) {
    body{
        background-color: aqua;
    }
    
}
@media (max-width: 768px){
    body{
        background-color: blanchedalmond;
    }
}
@media (max-width: 480px){
    body{
        background-color: #4caf50;
    }
}
@media (max-width: 0px){
    body{
        background-color: blueviolet;
    }
}*/
/*
@media (min-width: 1024px){
    body{
        border: 0px;
        padding: 0px;
        margin: 0px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .nav-header{
        width: 60rem;
    }
    .contenido-propaganda{
        width: 60rem;
    }
    .contenido-propaganda-texto-oferta{
        padding-left: 1rem;
    }
    .contenido-propaganda-texto-oferta-1{
        font-size: 1rem;
    }
    .contenido-propaganda-texto-oferta-2{
        font-size: 1rem;
    }
    .contenido-propaganda-texto-oferta-3{
        font-size: 1rem;
    }
    .base-ar{
        width: 60rem;
        height: 25rem;
    }
    .ar-base{
        height: 20rem;
        width: 100%;
    }
    .articulo{
        height: 20rem;
        width: 12rem;
    }
    .carrucel-cont{
        width: 60rem;
        margin: 1rem;
        }

    .carrucel-categorias{
        width: 60rem;
    }



    .carrucel-conteiner-juego-cont{
        width: 12rem;
        height: 17rem;
    }




    .carrucel-conteiner-categorias{
        width: 12rem;
        height: 17rem;
    }
    .foote-re{
        width: 60rem;
    }
}*/

/* Media query para tablets no es tan necesario
@media (max-width: 768px) {
    h1 {
        font-size: 20px;
    }
    p {
        font-size: 14px;
    }
}*/

/* Media query para teléfonos móviles 
